.acciones
{
    
    margin-bottom: 10px;
}

.acciones >*
{
    margin-right: 10px;
}

.contenedorFiltro{
    
    align-items: flex-start;
    justify-content: center;
}

.contenedorFiltro .elementoFiltro{
    justify-content: flex-start;
    
    margin-bottom: 20px;
    

}

.contenedorFiltro .elementoFiltro > *{
    margin-left: 10px;
    
}

.accionesModal {
    justify-content: end;
    margin-bottom: 20px;
}

.accionesModal > *
{
    margin-left: 10px;
}

.elementoFiltro .iconEliminar:hover
{
    cursor: pointer;
}

.tabContainer{
    width: 1200px;
}

.refreshIconCont
{
    padding-left: 10px;
    padding-bottom: 10px;
    width: 40px;
    transition-duration: 0.5s;
    
}
.refreshIconCont .refreshIcon
{
    font-size: 25px;
}
.refreshIconCont .refreshIcon:hover
{
    cursor: pointer;
}


.refreshIconCont:hover
{
    
    transform: rotateZ(360deg);
}


