.acciones
{
    
    margin-bottom: 10px;
    align-items: center;
    justify-content: start;
}

.acciones >*
{
    margin-right: 15px;
}

.contenedorFiltro{
    
    align-items: flex-start;
    justify-content: center;
}

.contenedorFiltro .elementoFiltro{
    justify-content: flex-start;
    
    margin-bottom: 20px;
    

}

.contenedorFiltro .elementoFiltro > *{
    margin-left: 10px;
    
}

.accionesModal {
    justify-content: end;
    margin-bottom: 20px;
}

.accionesModal > *
{
    margin-left: 10px;
}

.elementoFiltro .iconEliminar:hover
{
    cursor: pointer;
}

.tabContainer{
    width: 1200px;
}

.refreshIconCont
{
    
    
    width: 40px;
    
    background: red;
    transition-duration: 0.5s;
    
}
.refreshIcon
{
    
    font-size: 25px;
    transition: 0.5s;
}
.refreshIcon:hover
{
    cursor: pointer;
    transform: scale(1.2);
}



.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
    padding: 7px 20px;
    font-size: 12.5px;
    text-align: center;
}


