.acciones
{
    
    margin-bottom: 10px;
}

.acciones >*
{
    margin-right: 10px;
}

.contenedorFiltro{
    
    align-items: flex-start;
}

.contenedorFiltro .elementoFiltro{
    justify-content: center;
    margin-bottom: 20px;

}

.contenedorFiltro .elementoFiltro > *{
    margin-left: 10px;
    
}

.accionesModal {
    justify-content: end;
    margin-bottom: 20px;
}

.accionesModal > *
{
    margin-left: 10px;
}