.bm-burger-button {
  position: absolute;
  width: 25px;
  height: 20px;
  left: 10px;
  bottom: 25%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {  
  background: #bc157c
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background:  #bc157c
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: white;
}

/* Wrapper for item list */
.bm-item-list {
  color: black;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}



.container-menu
{
  width: 100%;
  height: 46px;
  border-bottom: 1px solid rgba(1,34,68,.2);
  position: absolute;

  background-color: rgba(1,34,68,.01) 
}

.descripcion-pantalla
{
  position: absolute;
  left: 45%;
  top: 25%;
  color: #bc157c;
  font-weight: 500;
  font-size: 17px;
}

.nav-bar
{
  height: 100px;
  background: #bc157c;
  justify-content: space-between;
}

.nav-bar img{
  margin-left: 20px;
  margin-top: 20px;
}

.menuItems
{
  justify-content: center;
  
}

#items-menu .items
{
  margin-top: 20px;
  align-items: center;
  

}

#items-menu .items:hover
{
  cursor: pointer;
}

#items-menu .items > *
{
  margin-left: 15px;
  margin-right: 15px;
}

.nav-bar .navegacion
{
  margin-right: 20px;
  align-items: center;  
  width: 500px ;
  justify-content: space-between;
}

.nav-bar .navegacion > *
{
  font-weight: 500;
  color: white;
}

#items-menu .submenu{
  color: black;

}

.submenu:hover{
  color: black;  
  
}

#items-menu .submenu:active{
  color: #bc157c;  
}
