.bm-burger-button {
  position: absolute;
  width: 25px;
  height: 20px;
  left: 10px;
  bottom: 25%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {  
  background: #bc157c
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background:  #bc157c
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: white;
}

/* Wrapper for item list */
.bm-item-list {
  color: black;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.nav-bar
{
  height: 60px;
  background: #160F41;
  
  align-items: center;
  
  
}


.nav-bar .pantalla
{
  color: #bc157c;
  margin-left: 20px;
  
  height: 100%;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3px;

}

.nav-bar .opciones
{
  margin-left: auto;
}
.nav-bar .pantalla > *
{
  margin: 0px;

}
.ancho-manu{
  width: 70px;
}
.container-menu
{
  border-right: 1px solid rgba(255, 255, 255, 0.164);

  height: 100%;
  position: fixed;
  background: #160F41;

}
.container-menu-childrens
{
  height: 100%;
  position: fixed;
  background: #160F41;
  width:220px;
  left: 70px;
  display: flex;
  visibility: visible;
  flex-direction: column;
  align-items: flex-start;
  
  transition-duration: 0.3s;
  border-top: 1px solid rgba(255, 255, 255, 0.164);

  
  
}
.container-menu-childrens #iconClose
{
  color: white;
  font-size: 20px;
  margin-left: auto;
  margin-right: 10px;
  
}

.container-menu-childrens #iconClose:hover
{
  cursor: pointer;
  
}
a.container-menu-childrens-children .icon
{
  font-size: 30px;
  background: #2f256d52;
  width: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  
  margin-right: 6px;
}

a.container-menu-childrens-children
{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 24px;
  color: white;   
  display: flex;
  align-items: flex-start;
  
}

.container-menu-childrens-children :hover
{
  
  color: white; 
}
.container-menu-childrens-children :active
{
  
  color: white; 
}

.container-menu-childrens-children :link
{
  
  color: white; 
}
.container-menu .container-item
{
  
  padding-top: 15px;
  padding-bottom: 15px;
  
  margin-bottom: 8px;
  transition: 0.3s;
  transform-origin: left bottom;
  background: transparent;
  width: 100%;
  justify-content: center;
  
}

.container-menu .container-item :hover
{
  
  cursor: pointer;
  

}







.descripcion-pantalla
{
  position: absolute;
  left: 45%;
  top: 25%;
  color: #bc157c;
  font-weight: 500;
  font-size: 17px;
}




.menuItems
{
  justify-content: center;
  
}

#items-menu .items
{
  margin-top: 20px;
  align-items: center;
  

}

#items-menu .items:hover
{
  cursor: pointer;
}

#items-menu .items > *
{
  margin-left: 15px;
  margin-right: 15px;
}

.nav-bar .navegacion
{
  margin-right: 20px;
  align-items: center;  
  width: 500px ;
  justify-content: space-between;
}

.nav-bar .navegacion > *
{
  font-weight: 500;
  color: white;
}

#items-menu .submenu{
  color: black;

}

.submenu:hover{
  color: black;  
  
}

#items-menu .submenu:active{
  color: #bc157c;  
}


.opciones  .boton
{
  background: #bc157c;
  margin-right: 20px;
  height: 30px;
  width: 30px;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}


.opciones  .boton:hover
{
  cursor: pointer;
}

#content
{
  transition-duration: 0.3s;
  margin-left: 70px;
}

#tituloItem
{
  margin-left: 24px;
  margin-right: auto;
  margin-top: 10px;
  color: white;
  display: flex;
  font-size: 17px;
}

.container-menu-childrens #tituloItem
{
  max-width: 170px;
}

#tituloItem .icon
{
  margin-top: 4px;
  margin-right: 2px;
}

#tituloItem .icon:hover
{
  cursor: pointer;
}